.category {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.product-section {
  margin-left: 5rem;
  align-items: center;
  
}

.product-view-container {
  margin-left: 15rem;
}