html, body {
  height: 100%;
}
.form-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  padding: 2rem;
  width: 30rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 110%;
  background-color: #eee;
  z-index: 1; /* Set a higher z-index if needed */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 58%; /* Change the position of the form container to center it */
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 2rem;
  max-width: 90%; /* Set a maximum width for the form container */
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.form-container h1 {
  font-size: 1.8rem; /* Reduce the font size of the heading for small screens */
  font-weight: 700;
  margin-top: 1.5;
  margin-bottom: 1.5rem; /* Reduce the margin-bottom for small screens */
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 1rem; /* Reduce the margin-bottom for small screens */
}

.form-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-control {
  height: 3rem; /* Reduce the height of the form control for small screens */
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

#submitBtn {
  width: 100%;
  height: 3rem; /* Reduce the height of the submit button for small screens */
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem; /* Reduce the margin-top for small screens */
}

#submitBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.alert {
  margin-top: 1.5rem; /* Reduce the margin-top for small screens */
}

/* home.css */
.home-background {
  
  background-image: url("https://lh3.googleusercontent.com/drive-viewer/AFGJ81oHHEnHsaSuBUTducEyoveiGrbPxZRECcr2weogl9vl-W0X-ekLNizAIZpyQhGxEmrehBLjaUGRb_B1DVwWZr51Ah8=s1600");
  background-size: cover; /* Change the background-size to cover for small screens */
  background-position: center; /* Change the background-position to center for small screens */
  height: 100vh;
}

.banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.5rem; /* Add margin-bottom for small screens */
}

.category-highlights-container {
  display: flex;
}

.category-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights-container {
  display: inline-block;
  width: 80%;
}